html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
.body{
    width: 50vw;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(204, 71%, 46%);
    padding: 0;
    margin: 0px;
    overflow: hidden;
    font-size: 2em;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(358, 85%, 52%);
}
.navbar li{
    float: left;
}
.text {
    width: 50vw;
}
h2 {
    font-size: 2em;
}
h1 {
    font-size: 4em;
}
img {
    width: 50vw;
}
.text p{
    line-height: 160%;
    font-size: 2em;
}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    font-size: 3em;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: hsl(120, 70%, 60%);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 77%);
    border-radius: 5px;
}
.news a{
    color: rgb(45, 177, 175);
    font-size: 3em;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    width: 47vw;
    border: 3px solid tomato;
}
.news a:hover{
    color: hsl(239, 96%, 44%);
    border-radius: 5px;
}
.pr1 {
    height: 100%;
    width: 24vw;
    background-image: url(images/plevenska-panorama1.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    bottom: 0px;
}
.pr2 {
    height: 100%;
    width: 24vw;
    background-image: url(images/plevenska-panorama2.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 76%;
    bottom: 0px;
}
.keys {
    line-height: 140%;
    font-size: 2em;
}